*,*::after,*::before{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

#menu ul{
    text-align: center;
    margin-top:50%;
}

#menu li{
    display: inline-block;
    border: 2px solid #ddd;
    height: 100px;
    width: 100px;
    margin: 0 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ddd;
    cursor: pointer;
}

#menu li.red{
    background:#ff7675;
}

#menu li.green{
    background:#00b894;
}

#menu li.blue{
    background:#0984e3;
}

#menu li.pink{
    background:#fd79a8;
}

















